<main class="container">
  <div class="col-md-5">
    <h2>Notifications:</h2>
    <hr>
    <% @notifications.each do |n| %>
      <%= construct_notification_message_for(n) %>
    <% end %>
  </div>

  <div class="col-md-4 col-md-offset-3" id="contributed-curricula">
    <% if !@contributed_curricula.blank? %>      
      <div class="panel panel-default">
        <div class="panel-heading" style="padding-bottom: 20px;">
          Curricula Contributed To
        </div>   
        <div class="list-group">
          <% for c in @contributed_curricula %>
            <%= link_to curricula_path(:id => c.curricula.id), class: "list-group-item" do %>
              <h4 class="list-group-item-heading"><%=c.curricula.cur_name%></h4>
            <% end %>
          <% end %>
        </div>            
      </div>
    <% end %>

    <% if !@followed_curricula.blank? %>      
      <div class="panel panel-default">
        <div class="panel-heading" style="padding-bottom: 20px;">
          Curricula Following
        </div>   
        <div class="list-group">
          <% for c in @followed_curricula %>
            <%= link_to curricula_path(:id => c.curricula.id), class: "list-group-item" do %>
              <h4 class="list-group-item-heading"><%=c.curricula.cur_name%></h4>
            <% end %>
          <% end %>
        </div>
            
      </div>
    <% end %>

    <div class="panel panel-default" id="created-curricula">
      <div class="panel-heading" style="padding-bottom: 20px;">
        Curricula
        <%= link_to "Create Curriculum", new_curricula_path, class: "btn btn-success pull-right" %>
      </div>   
      <div class="list-group">

        <% if @created_curricula.blank? %>

          <a class="list-group-item">
              <h4 class="list-group-item-heading">No Curriculum</h4>
          </a>

        <% else %>

          <% for c in @created_curricula %>
            <%= link_to curricula_path(:id => c.id), class: "list-group-item" do %>
              <h4 class="list-group-item-heading"><%= c.cur_name %></h4>
            <% end %>
          <% end %>

        <% end %>

      </div>
    </div>
  </div>
</main>