<div class="container">
    <%= form_for(resource, :html => {:class => "form-signin"}, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        <h2 class="form-signin-heading">Sign up</h2>
        <div>
            <%= f.text_field :username, type:"text", placeholder:"username", class:"form-control", :autofocus => true %>
        </div>
        <div>
            <%= f.email_field :email, type:"text", placeholder:"email", class:"form-control" %>
        </div>
        <div>
            <%= f.password_field :password, type:"password", placeholder:"password", class:"form-control" %>
        </div>
        <div>
        <%= f.password_field :password_confirmation, type:"password", placeholder:"password confirmation", class:"form-control"%>
        </div>
        <div>
            <%= f.submit "Submit", class:"btn btn-primary btn-no-padding" %>
        </div>
        <%= render "devise/shared/links" %>
    <% end %>

</div>
