<% for a in @allresults %>
  <% if a.class == User && current_user.username == a.username %>
    <div class="media">
      <% @email = Digest::MD5.hexdigest(a.email.strip.downcase) %>
      <a class="pull-left" href="#">
        <img src="http://www.gravatar.com/avatar/<%= @email %>?s=64px"/>
      </a>
      <div class="media-body">
        <h4 class="media-heading">
          <%= link_to(a.username, users_show_path(:username => a.username)) %>
          <br>
          <%= a.name %>
        </h4>
      </div>
    </div>
    <hr>
  <% elsif a.class == User && current_user.username != a.username %>
    <div class="media">
      <% @email = Digest::MD5.hexdigest(a.email.strip.downcase) %>
      <a class="pull-left" href="#">
        <img src="http://www.gravatar.com/avatar/<%= @email %>?s=64px"/>
      </a>
      <div class="media-body">
        <h4 class="media-heading">
          <%= link_to(a.username, users_show_path(:username => a.username))%>
          <br>
          <%= a.name %>
        </h4>
        <button class="btn btn-primary btn-no-padding pull-right" >
          <% if current_user %>
            <% @is_peer = Watching.where('user_id=? AND peer_id=?', current_user.id, a.id) %>
            <% if !@is_peer.blank? %>
              <%= link_to "Unfollow", search_s_unfollow_path(:username => a.username, :query => params[:query]), :class => "no-link-white" %>
            <% else %>
              <%= link_to "Follow", search_s_follow_path(:username => a.username, :query => params[:query]), :class => "no-link-white" %>
            <% end %>
          <% end %>
        </button>
      </div>
    </div>
    <hr>
  <% else %>
    <div class="media">
      <a class="pull-left" href='#'>
        <span class="glyphicon glyphicon-book glyphicon-2x"></span>
      </a>
      <div class="media-body">
        <h4 class="media-heading">
          <%=link_to("#{a.creator.username}/#{a.cur_name}", curricula_path(:id => a.id))%>
        </h4>
        <%= a.cur_description %>

        <button class="btn btn-primary btn-no-padding pull-right" >
          Follow Curriculum 
        </button>
      </div>
    </div> 
    <hr>
  <% end %>
<% end %>