<% for a in @allresults %>
  <% if a.class == User && current_user.username == a.username %>
    <div class="media">
      <% @email = Digest::MD5.hexdigest(a.email.strip.downcase) %>
      <a class="pull-left" href="#">
        <img src="http://www.gravatar.com/avatar/<%= @email %>?s=64px"/>
      </a>
      <div class="media-body">
        <h4 class="media-heading">
          <%= link_to(a.username, profile_load_path(:username => a.username)) %>
          <br>
          <%= a.name %>
        </h4>
      </div>
    </div>
    <hr>
  <% elsif a.class == User && current_user.username != a.username %>
    <div class="media">
      <% @email = Digest::MD5.hexdigest(a.email.strip.downcase) %>
      <a class="pull-left" href="#">
        <img src="http://www.gravatar.com/avatar/<%= @email %>?s=64px"/>
      </a>
      <div class="media-body">
        <h4 class="media-heading">
          <%= link_to(a.username, profile_load_path(:username => a.username))%>
          <br>
          <%= a.name %>
        </h4>
        <% if current_user && current_user.id!=a.id%>
          
            <% @is_peer = Watching.where('user_id=? AND peer_id=?', current_user.id, a.id) %>
            <% if !@is_peer.blank? %>
            <button class="btn btn-danger btn-no-padding pull-right" >
              <%= link_to "Unfollow", subscriptions_subscription_path(:username => a.username, :query => params[:query], :sub_status => 'user_unfollow', :redirect => 'search'), :class => "no-link-white"  %>
            </button>
            <% else %>
            <button class="btn btn-primary btn-no-padding pull-right" >
              <%= link_to "Follow", subscriptions_subscription_path(:username => a.username, :query => params[:query], :sub_status =>'user_follow', :redirect => 'search'), :class => "no-link-white" %>
            </button>
            <% end %>
          <% end %>
      </div>
    </div>
    <hr>
  <% else %>
    <div class="media">
      <a class="pull-left" href='#'>
        <span class="glyphicon glyphicon-book glyphicon-2x"></span>
      </a>
      <div class="media-body">
        <h4 class="media-heading">
          <%=link_to("#{a.creator.username}/#{a.cur_name}", curricula_path(:id => a.id))%>
        </h4>
        <%= a.cur_description %>

        <% if current_user && a.creator_id!=current_user.id%>
          <% @followed_curricula = FollowingCurricula.joins(:curricula).where('user_id=? AND curricula_id=?', current_user.id, a.id) %>
            <% if !@followed_curricula.blank? %>
            <button class="btn btn-danger btn-no-padding pull-right" >
              <%= link_to "Unfollow", subscriptions_subscription_path(:cur_id => a.id, :query => params[:query], :sub_status => 'curricula_unfollow', :redirect => 'search'),:class => "no-link-white"  %>
            </button>
            <% else %>
            <button class="btn btn-primary btn-no-padding pull-right" >
              <%= link_to "Follow", subscriptions_subscription_path(:cur_id => a.id, :query => params[:query], :sub_status => 'curricula_follow', :redirect => 'search'), :class => "no-link-white" %>
            </button>
            <% end %>
            
          <% end %>
      </div>
    </div> 
    <hr>
  <% end %>
<% end %>