<% if @number_of_user_matches == 0 %>
  <strong> No Matching Users Found</strong> <br>
<% end %>
<% for u in @users %>
  <% if u.class == User && current_user.username == u.username%>
    <div class="media">
      <% @email = Digest::MD5.hexdigest(u.email.strip.downcase) %>
      <a class="pull-left" href="#">
        <img src="http://www.gravatar.com/avatar/<%= @email %>?s=64px"/>
      </a>
      <div class="media-body">
        <h4 class="media-heading">
          <%= link_to(u.username, profile_load_path(:username => u.username))%>
          <br>
          <%= u.name %>
        </h4>
      </div>
    </div>
  <hr>
  <% else %>
    <div class="media">
      <% @email = Digest::MD5.hexdigest(u.email.strip.downcase) %>
      <a class="pull-left" href="#">
        <img src="http://www.gravatar.com/avatar/<%= @email %>?s=64px"/>
      </a>
      <div class="media-body">
        <h4 class="media-heading">
          <%= link_to(u.username, profile_load_path(:username => u.username))%>
          <br>
          <%= u.name %>
        </h4>
        
          <% if current_user && current_user.id!=u.id%>
          
            <% @is_peer = Watching.where('user_id=? AND peer_id=?', current_user.id, u.id) %>
            <% if !@is_peer.blank? %>
            <button class="btn btn-danger btn-no-padding pull-right" >
              <%= link_to "Unfollow", subscriptions_subscription_path(:username => u.username, :query => params[:query], :sub_status => 'unfollow', :redirect => 'search'), :class => "no-link-white"  %>
            </button>
            <% else %>
            <button class="btn btn-primary btn-no-padding pull-right" >
              <%= link_to "Follow", subscriptions_subscription_path(:username => u.username, :query => params[:query], :sub_status =>'follow', :redirect => 'search'), :class => "no-link-white" %>
            </button>
            <% end %>
          <% end %>
        
      </div>
    </div>
  <hr>
  <% end %>
<% end %>