<div class='navbar navbar-default navbar-static-top'>

 <nav class='container'>

  <div class='navbar-header'>
   <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-ex1-collapse'>
    <span class='sr-only'>Toggle navigation</span>
    <span class='icon-bar'></span>
    <span class='icon-bar'></span>
    <span class='icon-bar'></span>
   </button>        
   <a class='navbar-brand' href='/'>GitMyCurriculum</a>                
  </div>

  <%= form_tag "/search/user_search/", :class => "navbar-form navbar-left", :role => "search", :method => :get do %>
    <div class="form-group">
        <%= text_field_tag :query, params[:query], class:"form-control", placeholder:"Search!" %>
    </div>
  <% end %>
  
  <div class='collapse navbar-collapse navbar-ex1-collapse'>
   <ul class='nav navbar-nav navbar-right'>

    <li class=''>

      <% if user_signed_in? %>
        <%= link_to(current_user.username, profile_load_path, :method => :get) %>
      <% end %>
      
    </li>

    <li class=''>

      <% if user_signed_in? %>
        <%= link_to("Sign Out", destroy_user_session_path, :method => :delete) %>
      <% end %>

      <% unless user_signed_in? %>
        <%= link_to("Sign Up", new_user_registration_path, :method => :get) %>
      <% end %>
      
    </li>

   </ul>

  </div>
 </nav>
</div>

