<div class="col-md-4 ">
	<%= form_for :edit_curriculum, :url => curricula_cur_edit_path, :role => "form", :method => :post do |f| %>
	   		<%= f.label :cur_name %>
	   		<%= f.text_field :cur_name, type:"text", placeholder:"curriculum name", class:"form-control", :autofocus => true %>
	   <br>

	   		<%= f.label :cur_description %>
	   		<%= f.text_area :cur_description, type:"text", placeholder:"curriculum description", class:"form-control", :autofocus => true %>
	   		<br>
	   <%= submit_tag "Submit", class:"btn btn-primary btn-no-padding"%>

	<% end %>
</div>