<div>
  <%= form_for :edit_curriculum, :url => edit_curriculum_path, :role => "form", :method => :post do |f| %>
  <div class="col-md-4">
    <%= f.label :cur_name %>
    <%= f.text_field :cur_name, type:"text", placeholder:"curriculum name", class:"form-control", :autofocus => true %>
    <br>

    <%= f.label :cur_description %>
    <%= f.text_area :cur_description, type:"text", placeholder:"curriculum description", class:"form-control", :autofocus => true %>
    <br>

    <%= submit_tag "Submit", class:"btn btn-primary btn-no-padding"%>
  </div>
  <div class "">
    <%=f.label ""%>
    <div class="input-group col-md-4 col-md-offset-9">
      <input type="text" class="form-control" placeholder="Add User" id="user_textfield">
      <span class="input-group-btn">
      <button class="btn btn-default" type="button" id="the_button">Go!</button>
        <script type="text/javascript">
          $("#the_button").click(function(){ 
              to_print=document.getElementById('user_textfield').getText();

              //@contributors.add(user_textfield.getText())
              document.write(to_print);
              var html = '<ul id="hellolist" data-role="listview"><li><h3><%=@toPrint%></h3></li></ul>';            
              $('#content').append($(html));
              $('#hellolist').listview('refresh');
              //$('#content').load($('contributor_list'));           
              //$('#contributor_list').trigger('create');
          });
        </script>
      </span>
    </div>
    <div> <%=f.label ""%></div>

    <div class="panel panel-default col-md-4 col-md-offset-2" id="contributor_list">
        <div class="panel-heading" style="padding-bottom: 20px;">
          Curriculum Contributors
        </div>   
        <div class="list-group">
            <%if @contributors.blank?%>
              <div class="list-group-item">No Contributors</div>
            <%else%>
              <%@contributors.each do |c| %>
                <div class="list-group-item">
                  <%= link_to(c.name, users_show_path(:username => c.username))%>
                </div>
              <% end %>
            <%end%>
          </div>
      </div>

      <div id="content" data-role="content">       
      </div><!-- /content -->

  </div>
  <% end %>
</div>

