<div class="row col-md-offset-1">
  <div class="btn-group col-md-2">

    <button class='btn btn-success dropdown-toggle' data-toggle = 'dropdown'>
      Choose Branch
      <span class = 'caret'></span>
    </button>

    <ul class = 'dropdown-menu'>
      <% for b in @branches %>
        <li>
          <%= link_to b.name, switch_path(:id => @curriculum.id, :branch => b.name) %>
        </li>
      <% end %>
    </ul>
  </div>​

  <ol id="breadcrumb" class="breadcrumb col-md-8">
    <li>
      <a href="#" id="brlink">
        <%= @curriculum.creator.username %>
      </a>
    </li>
    <li>
      <a href="#" id="brlink">
        <%= @curriculum.cur_name %>
      </a>
    </li>
  </ol>
</div>

<div class="row col-md-offset-1">

  <div class="row col-md-8">

    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
          <%= params[:name] %>
        </div>
      </div>

      <table class="table" id="file-table">
        <tbody>
          <col width = "5%">
          <col width = "95%">
          <% @blob.contents_array.each_with_index do |value, index| %>
            <tr>
              <td id="index-cell"><%= index + 1 %></td>
              <td id="value-cell"><%= value %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

    <div class="col-md-3" style="text-align:center;">

        <div class="row" style="padding: 10px;">

          <%= link_to "Change History", c_commit_path(:id => @curriculum.id), class: "btn btn-success" %>

        </div>

        <div class="row" style="padding: 10px;">

            <a href='' class="btn btn-success">
                Requests
            </a>

        </div>

        <div class="row" style="padding: 10px;">

            <a href='' class="btn btn-success">
                Sources
            </a>
        </div>

    </div>
</div>