<div class="row col-md-offset-1">
  <div class="btn-group col-md-2">

    <button class = 'btn btn-success dropdown-toggle' data-toggle = 'dropdown'>
      Choose Branch 
      <span class = 'caret'></span>
    </button>

    <ul class = 'dropdown-menu'>
      <% for b in @branches %>
        <li>
          <%= link_to switch_branch_curricula_path(:id => @curriculum.id, :branch => b.name), :remote => true do %>
            <%= b.name %>
          <% end %>
        </li>
      <% end %>
    </ul>

  </div>​

  <ol id="breadcrumb" class="breadcrumb col-md-8">
    <% @path.each do |p| %>
      <li>
        <%= link_to "#{p[:name]}", p[:path] %>
      </li>
    <% end %>
  </ol>

</div>

<div class="row col-md-offset-1">
  <div class="col-md-8">
    <div class="panel panel-default" id="stream-contents">
      <div class="panel-heading">
        <div class="panel-title">
          <%= @branch %> 
        </div>
      </div>

      <div class="panel-body">
        <ul class="list-unstyled">
          <% unless @child_trees.nil? %>
            <% for t in @child_trees %>
              <li> 
                <%= link_to open_folder_curricula_path(:id => @curriculum.id, :branch => @branch, :tree => t[1], :path => @path, :name => t[0]), :remote => true do %> 
                  <h5 class="glyphicon glyphicon-folder-close"> 
                    <%= t[0] %>
                  </h5>
                <% end %>
              </li>
            <% end %> 
          <% end %>

          <% unless @child_blobs.nil? %> 
            <% for b in @child_blobs %>
              <li> 
                <%= link_to open_file_curricula_path(:id => @curriculum.id, :branch => @branch, :name => b[0], :blob => b[1], :path => @path), action: :get_file_contents, :remote => true do %>
                  <h5 class="glyphicon glyphicon-file"> 
                    <%= b[0]%>
                  </h5>
                <% end %>
              </li>
            <% end %>  
          <% end %>    
        </ul>
      </div>
    </div>
  </div>

  <div class="col-md-3" style="text-align:center;">
    <div class="row" style="padding: 10px;">
      <%= link_to "Change History", curricula_history_path(:curricula_id => @curriculum.id), class: "btn btn-success" %>
    </div>

    <div class="row" style="padding: 10px;">
        <%= link_to "Fork", fork_curricula_path(:id => @curriculum.id), class: "btn btn-success" %>
    </div>

    <div class="row" style="padding: 10px;">
      <%= link_to "Edit Curriculum", curricula_edit_path(:id => @curriculum.id), class: "btn btn-success" %>
    </div>

      <% @followed_curricula = FollowingCurricula.joins(:curricula).where('user_id=? AND curricula_id=?', current_user.id, @curriculum.id) %>
      <% if !@followed_curricula.blank? %>
        <div class="row" style="padding: 10px;">
          <%= link_to "Unfollow", subscriptions_subscription_path(:cur_id => @curriculum.id, :sub_status => 'curricula_unfollow', :redirect => 'curricula'), class: "btn btn-success" %>
        </div>
      <% else %>
        <div class="row" style="padding: 10px;">
          <%= link_to "Follow", subscriptions_subscription_path(:cur_id => @curriculum.id, :sub_status => 'curricula_follow', :redirect => 'curricula'), class: "btn btn-success" %>
        </div>
      <% end %>

    <!-- <div class="row" style="padding: 10px;">
      <a href='' class="btn btn-success">
        Requests
      </a>
    </div> -->

    <div class="row" style="padding: 10px;">
      <%= link_to "Sources", source_show_path(:id => @curriculum.id), class: "btn btn-success" %>
    </div>

    <div class="row" style="padding: 10px;">
        <button href="#" class="btn btn-success">Join Stream</button>
    </div>

    <% if @curriculum.featured == true %>
      <div class="row" style="padding: 10px;">
        <%= link_to "UnFeature It", remove_featured_path(:id => @curriculum.id), class: "btn btn-success" %>
      </div>
    <% else %>
      <div class="row" style="padding: 10px;">
        <%= link_to "Feature It", add_featured_path(:id => @curriculum.id), class: "btn btn-success" %>
      </div>
    <%end%>
  </div>
</div>
