<div class="row col-md-offset-1">
  <div class="btn-group col-md-3">

    <button class = 'btn btn-success dropdown-toggle' data-toggle = 'dropdown'>
      Choose Branch 
      <span class = 'caret'></span>
    </button>

    <ul class = 'dropdown-menu'>
      <% for b in @branches %>
        <li>
          <%= link_to b.name, switch_path(:id => @curriculum.id, :branch => b.name) %>
        </li>
      <% end %>
    </ul>

  </div>​

  <ol id="breadcrumb" class="breadcrumb col-md-8">
    <% @path.each do |p| %>
      <li>
        <%= link_to "#{p[:name]}", p[:path] %>
      </li>
    <% end %>
  </ol>

</div>

<div class="row col-md-offset-1">
  <div class="col-md-8">
    <div class="panel panel-default" id="stream-contents">
      <div class="panel-heading">
        <div class="panel-title">
          <%= @branch %> 
        </div>
      </div>

      <div class="panel-body">
        <ul class="list-unstyled">
          <% unless @child_trees.nil? %>
            <% for t in @child_trees %>
              <li> 
                <%= link_to ajax_open_folder_path(:id => @curriculum.id, :branch => @branch, :tree => t[1], :path => @path, :name => t[0]), :remote => true do %> 
                  <h5 class="glyphicon glyphicon-folder-close"> 
                    <%= t[0] %>
                  </h5>
                <% end %>
              </li>
            <% end %> 
          <% end %>

          <% unless @child_blobs.nil? %> 
            <% for b in @child_blobs %>
              <li> 
                <%= link_to open_file_path(:id => @curriculum.id, :branch => @branch, :name => b[0], :blob => b[1], :path => @path), action: :get_file_contents, :remote => true do %>
                  <h5 class="glyphicon glyphicon-file"> 
                    <%= b[0]%>
                  </h5>
                <% end %>
              </li>
            <% end %>  
          <% end %>    
        </ul>
      </div>
    </div>
  </div>

  <div class="col-md-3" style="text-align:center;">
    <div class="row" style="padding: 10px;">
      <%= link_to "Change History", c_commit_path(:id => @curriculum.id), class: "btn btn-success" %>
    </div>

    <div class="row" style="padding: 10px;">
        <%= link_to "Fork", fork_path(:id => @curriculum.id), class: "btn btn-success" %>
    </div>

    <%if current_user.id==@curriculum.creator_id%>
      <div class="row" style="padding: 10px;">
        <%= link_to "Edit Curriculum", edit_curricula_path(:id => @curriculum.id), class: "btn btn-success" %>
      </div>
    <%end%>

    <div class="row" style="padding: 10px;">
      <a href='' class="btn btn-success">
        Requests
      </a>
    </div>

    <div class="row" style="padding: 10px;">
      <%= link_to "Sources", source_show_path(:id => @curriculum.id), class: "btn btn-success" %>
    </div>

    <div class="row" style="padding: 10px;">
      <a href='' class="btn btn-success">
        Feature It
      </a>
    </div>
  </div>
</div>
