<div class="col-md-2 col-md-offset-2">

   <img id="avatar" src="http://www.gravatar.com/avatar/<%= @email %>?s=200px" />

</div>

<div class="col-md-6">

   <div class="panel panel-default">

      <div id="profile-panel-heading" class="panel-heading">

         <div class="panel-title">

            <%= current_user.username %>
            <%= link_to "Edit Profile", edit_user_registration_path, class:"btn btn-success pull-right no-link-white" %>
           
         </div>

      </div>

      <div class="panel-body">
         <h4>Description</h4>
         <%= current_user.description %>

         <hr>

         <h4>Occupation</h4>
         <%= current_user.occupation %>

      </div> 

   </div>
   <div class="panel panel-default">

            <div class="panel-heading" style="padding-bottom: 20px;">
                Curricula
                <a href="/curricula/create">
                <button class="btn btn-success pull-right" >
                    Create Curriculum 
                </button>
                </a>
            </div>    


            <ul class="list-group">
                <li class="list-group-item">
                    <a href="/curricula/cur_edit">
                            linear-algrebra-fall-14
                    </a>
                </li>
                
                <li class="list-group-item">
                    <a href="">
                            discrete-math-spring-15
                    </a>
                </li>
            </ul>
        </div>

</div>
