<div class="col-md-10 col-md-offset-2">
  <div class="col-md-3">
    <center>
      <img id="avatar" src="http://www.gravatar.com/avatar/<%= @email %>?s=200px" />
    </center>
    <br>
    <br>
    <div class="panel panel-default">

            <div class="panel-heading" style="padding-bottom: 20px;">
                Friends
            </div>    


            <div class="list-group">
                <a href="#" class="list-group-item">John Johnson</a>
                <a href="#" class="list-group-item">George Washington</a>
            </div>
        </div>
  </div>
<div class="col-md-6">

   <div class="panel panel-default">

      <div id="profile-panel-heading" class="panel-heading">

         <div class="panel-title">

            <%= current_user.username %>
            <%= link_to "Edit Profile", edit_user_registration_path, class:"btn btn-success pull-right no-link-white" %>
           
         </div>

      </div>

      <div class="panel-body">
         <h4>Description</h4>
         <%= current_user.description %>

         <hr>

         <h4>Occupation</h4>
         <%= current_user.occupation %>


      </div> 

   </div>
   <div class="panel panel-default">

            <div class="panel-heading" style="padding-bottom: 20px;">
                Curricula
                <a href="/curricula/create">
                <button class="btn btn-success pull-right" >
                    Create Curriculum 
                </button>
                </a>
            </div>    


            <div class="list-group">
                <a href="/curricula/cur_edit" class="list-group-item">
                    <h4 class="list-group-item-heading">linear-algrebra-fall-14</h4>
                    <p class="list-group-item-text">Curricula for Linear Algebra</p>
                </a>
                <a href="" class="list-group-item">
                    <h4 class="list-group-item-heading">discrete-math-spring-15</h4>
                    <p class="list-group-item-text">Discrete Math Description here</p>
                </a>
            </div>
        </div>
</div>
